@import "../../components/mixins/mixins.scss";

.news {}
.container {
}
.news__container {
	padding: 115px 0 100px;
}

.news__title-container {
	text-align: center;
}
.news__text-orange {
	@include text-orange;
	line-height: 15.4px;
	font-size: 14px;
	margin-bottom: 45px;
}
.news__title {
	font-size: 32px;
	line-height: 41.6px;
	margin-bottom: 25px;
}

.news__last-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news__box {
	display: flex;
	flex-direction: column;
	max-width: 360px;
}
.news__img {
	margin-bottom: 30px;
	max-width: 360px;
	max-height: 243px;
}

.news__box-items {
	display: inline-flex;
	margin-bottom: 25px;

}
.news__hashtags {
	margin-right: 15px;
	color: $orange;
	font-size: 15px;
	line-height: 21px;
}
.news__date {
	color: #999999;
	font-size: 15px;
	line-height: 21px;
}
.news__date::before {
	content: url('../img/news/kube.png');
	max-height: 5px;
	max-width: 5px;
	position: relative;
	top: -2.5px;
	padding: 0 10px;
}
.news__name {
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 35px;
}
.new__more {
	font-size: 15px;
	line-height: 21px;
	color: $orange;
	justify-self: flex-end;
}