@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap");
.button {
  width: 154px;
  padding: 15px 0;
  background: #FD8558;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header {
  padding-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 299px;
}

.header__logo-img {
  padding-left: 45px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.header__list-item {
  list-style-type: none;
  margin: 0 10px;
  font-size: 15px;
}

.header__link {
  color: black;
}

.header__link_active {
  color: #FD8558;
  letter-spacing: 2px;
  letter-spacing: 0;
}

.hero {
  background: url("../img/hero/bg.png") center no-repeat;
  text-align: center;
  padding: 240px 0;
}

.hero__container {
  display: inline-block;
}

.hero__title {
  font-size: 70px;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 20px;
  width: 632px;
}

.hero__button {
  display: inline-block;
  margin: 0 10px;
}

.hero__button_black {
  outline: 2px solid #FD8558;
  outline-offset: -2px;
  background: rgba(0, 0, 0, 0);
}

.about__title {
  color: #F7F7F7;
  font-size: 150px;
  font-weight: inherit;
  margin-left: -135px;
}

.about__frst-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 20px;
}

.about__text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.about__subtitle {
  font-size: 40px;
  padding-right: 170px;
}

.about__text-title {
  font-size: 18px;
  text-transform: capitalize;
  padding-right: 20px;
}

.about__text-subtitle {
  font-size: 15px;
  color: #999999;
  padding-right: 50px;
}

.about__quote-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 30px 60px;
}

.about__qoute-img {
  max-width: 100%;
}

.about__qoute {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 65px;
}

.about__qoute-text {
  max-width: 420px;
  font-size: 1.625rem;
  margin-top: 65px;
}

.about__qoute-text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  font-style: oblique;
  letter-spacing: 0;
}

.about__qoute-autor {
  font-size: 20px;
  padding-top: 100px;
}

.about__qoute-post {
  padding-top: 20px;
  color: #CACACA;
  font-size: 12px;
  letter-spacing: 1.8px;
}

.about__approach-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -135px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__apporoach-items {
  text-align: center;
  margin: 50px;
  width: 320px;
}

.about__apporoach-img {
  max-width: 100%;
}

.about__apporoach-title {
  padding-bottom: 25px;
  font-size: 24px;
}

.about__apporoach-description {
  font-size: 15px;
  color: #999999;
}

.about__separation {
  background: url("../img/about/Vector.png") no-repeat;
  background-size: 100% auto;
  max-width: 1440px;
  padding-top: 200px;
  margin: 0 -135px;
}

.works__text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.works__header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.works__subtitle {
  font-size: 32px;
  width: 300px;
}

.works__button {
  z-index: 1;
}

.works__header-title {
  font-size: 200px;
  color: #F7F7F7;
  text-align: right;
  line-height: 1;
  margin: 0 -135px;
}

.works__portfolio-images {
  margin: 0 -135px 115px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(auto, 360px))[2];
  -ms-grid-columns: (minmax(auto, 360px))[4];
      grid-template: repeat(2, minmax(auto, 360px))/repeat(4, minmax(auto, 360px));
  grid-auto-flow: column;
}

.works__portfolio-block {
  padding: 200px 20px 40px;
}

.works__portfolio-block_oblique-house {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  padding-top: 555px;
  background: url("https://avatars.mds.yandex.net/get-zen_doc/1671806/pub_5e022aab3639e600ae36acfa_5e02a50d98930900b256a346/scale_1200") center/cover no-repeat;
}

.works__portfolio-textbox {
  background-color: rgba(255, 255, 255, 0.5215686275);
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__portfolio-text {
  line-height: 33px;
  font-size: 24px;
}

.works__portfolio-block_crazy-max {
  background: url("../img/works/crazymax.jpg") center/cover no-repeat;
}

.works__portfolio-block_stylish-house {
  background: url("../img/works/stylish-house.jpg") center/cover no-repeat;
}

.works__portfolio-block_differents {
  background: url("../img/works/differents.jpg") center/cover no-repeat;
}

.works__portfolio-block_bag {
  background: url("../img/works/crazymax.jpg") center/cover no-repeat;
}

.works__checkbox {
  border: 2px inset #222222;
  width: 46px;
  height: 46px;
  background-color: white;
}
.works__checkbox:checked {
  background: #222222 url("../img/works/checked.png") center/contain no-repeat;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__text {
  max-width: 450px;
  margin-right: 75px;
}

.skills__text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15.4px;
}

.skills__title {
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 20px;
}

.skills__subtitle {
  font-size: 14px;
  line-height: 25.5px;
  color: #999999;
}

.skills__scales-container {
  margin-bottom: 150px;
}

.skills__scales {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill__persent {
  padding-right: 40px;
  color: #999999;
}

.skill__scale-orange {
  max-width: 600px;
}

.team__container {
  text-align: center;
  margin-bottom: 115px;
}

.team__text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 15.4px;
}

.team__title {
  font-size: 32px;
  line-height: 41.6px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.team__images {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: minmax(auto, 350px) 30px minmax(auto, 350px);
  -ms-grid-columns: minmax(auto, 350px) 30px minmax(auto, 350px) 30px minmax(auto, 350px);
      grid-template: repeat(2, minmax(auto, 350px))/repeat(3, minmax(auto, 350px));
  gap: 30px;
  margin-bottom: 80px;
}

.team__image {
  padding: 160px 85px;
  text-align: center;
}

.team__member {
  font-size: calc(7px + 0.8854166667vw);
  line-height: 30px;
  color: white;
}

.team__position {
  font-size: calc(3px + 0.625vw);
  line-height: 23.8px;
  color: white;
}

.team__creative-director {
  background: url("../img/team/anna.jpg") center/cover no-repeat;
}

.team__seo {
  background: url("../img/team/andy.jpg") center/cover no-repeat;
}

.team__designer {
  background: url("../img/team/katy.jpg") center/cover no-repeat;
}

.team__devolper {
  background: url("../img/team/margo.jpg") center/cover no-repeat;
}

.team__art-director {
  background: url("../img/team/kanye.jpg") center/cover no-repeat;
}

.team__tester {
  background: url("../img/team/marta.jpg") center/cover no-repeat;
}

.testimonials {
  background-color: #3A0F73;
}

.testimonials__container {
  text-align: center;
  padding-bottom: 215px;
  margin: 0 100px !important;
}

.testimonials__header-title {
  line-height: 220px;
  font-size: 200px;
  color: #AAAAAA;
  padding: 75px 0;
  opacity: 0.1;
}

.testimonias__text {
  margin: 0 310px 65px;
  line-height: 28.8px;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.testimonials__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.testimonials__photo {
  max-width: 60px;
}

.testimonials__autor-box {
  text-align: left;
}

.testimonials__autor-name {
  line-height: 22.4px;
  font-size: 1rem;
  color: #FFFFFF;
}

.testimonials__autor-position {
  line-height: 22.4px;
  font-size: 13px;
  color: #FFFFFF;
}

.news__container {
  padding: 115px 0 100px;
}

.news__title-container {
  text-align: center;
}

.news__text-orange {
  color: #FD8558;
  letter-spacing: 2px;
  line-height: 15.4px;
  font-size: 14px;
  margin-bottom: 45px;
}

.news__title {
  font-size: 32px;
  line-height: 41.6px;
  margin-bottom: 25px;
}

.news__last-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

.news__img {
  margin-bottom: 30px;
  max-width: 360px;
  max-height: 243px;
}

.news__box-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 25px;
}

.news__hashtags {
  margin-right: 15px;
  color: #FD8558;
  font-size: 15px;
  line-height: 21px;
}

.news__date {
  color: #999999;
  font-size: 15px;
  line-height: 21px;
}

.news__date::before {
  content: url("../img/news/kube.png");
  max-height: 5px;
  max-width: 5px;
  position: relative;
  top: -2.5px;
  padding: 0 10px;
}

.news__name {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 35px;
}

.new__more {
  font-size: 15px;
  line-height: 21px;
  color: #FD8558;
  justify-self: flex-end;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px !important;
}

.contacts__company {
  margin: 0 180px 50px 0;
}

.contacts__address {
  margin-bottom: 50px;
}

.contacts__name {
  color: rgba(34, 34, 34, 0.2509803922);
  font-size: 14px;
  line-height: 20px;
}

.contacts__text {
  font-size: 24px;
  line-height: 33px;
}

.contacts__yours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__your-info {
  width: 335px;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #eeeeee;
  margin-bottom: 30px;
}
.contacts__your-info::-webkit-input-placeholder {
  color: #999999;
}
.contacts__your-info::-moz-placeholder {
  color: #999999;
}
.contacts__your-info:-ms-input-placeholder {
  color: #999999;
}
.contacts__your-info::-ms-input-placeholder {
  color: #999999;
}
.contacts__your-info::placeholder {
  color: #999999;
}
.contacts__your-info:first-child {
  margin-right: 30px;
}
.contacts__your-info:focus {
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  outline: 0;
}

.contacts__your-info_message {
  width: 100%;
  padding-bottom: 50px;
  resize: none;
  margin-bottom: 65px;
}

.contacts__button {
  font-size: 14px;
  line-height: 21px;
  width: 192px;
}

.footer {
  background: #111111;
}

.footer__container {
  color: #fff;
  padding: 90px 0 80px 0;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-box {
  margin: 0 165px 0 0;
}

.footer__logo {
  max-width: 113px;
  margin-bottom: 40px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.6;
}

.footer__number {
  font-size: 15px;
  line-height: 22.5px;
}

.footer__e-mail {
  font-size: 15px;
  line-height: 22.5px;
}

.footer__columns {
  margin: 0 0 85px 0;
}

.footer__column-title {
  font-size: 24px;
  line-height: 31.2px;
  margin-bottom: 20px;
}

.footer__column-item {
  color: #BABABA;
  font-size: 14px;
  line-height: 31.6px;
}

.footer__license {
  text-align: center;
  color: #BABABA;
  font-size: 15px;
  line-height: 30px;
}

.footer__license a {
  color: #fff;
}
.footer__license a:visited {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 1440px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.works__checkbox {
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 0;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1200px;
}

.container {
  margin: 0 135px;
}

.body {
  background-color: rgba(0, 0, 0, 0.1450980392);
}

.page {
  background-color: #fff;
}