@import "../../components/mixins/mixins.scss";

.skills {
}
.skills__container {
	display: flex;
}
.skills__text {
	max-width: 450px;
	margin-right: 75px;
}
.skills__text-orange {
	@include text-orange;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 15.4px;
}
.skills__title {
	font-size: 32px;
	line-height: 38.4px;
	margin-bottom: 20px;
}
.skills__subtitle {
	font-size: 14px;
	line-height: 25.5px;
	color: #999999;
}
.skills__scales-container {
	margin-bottom: 150px;
}
.skills__scales {
	max-width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
.skill__name {}
.skill__persent {
	padding-right: 40px;
	color: #999999;
}
.skill__scale {

}
.skill__scale-orange {
	max-width: 600px
}