@import "../../components/mixins/mixins.scss";

.about {}

.about__container {
}

.about__title {
	@include block-name;
	font-size: 150px;
	font-weight: inherit;
	margin-left: -135px;
}

.about__frst-row {
	display: flex;
	flex-wrap: wrap;
}

.about__flex{
	flex: 0 1 50%;
	margin-bottom: 20px;
}

.about__text-orange {
	@include text-orange;
	text-transform: uppercase;
	font-size: 14px;
}

.about__subtitle {
	font-size: 40px;
	padding-right: 170px;
}

.about__text-title {
	font-size: 18px;
	text-transform: capitalize;
	padding-right: 20px;
}

.about__text-subtitle {
	font-size: 15px;
	color: #999999;
	padding-right: 50px;
}

.about__quote-row {
	display: flex;
	margin: 30px 0px 30px 60px;
}

.about__qoute-img {
	max-width: 100%;
}

.about__qoute {
	flex-direction: column;
	margin-left: 65px;
}

.about__qoute-text {
	max-width: 420px;
	font-size: 1.625rem;
	margin-top: 65px;
}
.about__qoute-text-orange {
	@include text-orange;
	font-style: oblique;
	letter-spacing: 0;
}

.about__qoute-autor {
	font-size: 20px;
	padding-top: 100px; 
}
.about__qoute-post {
	padding-top: 20px;
	color: #CACACA;
	font-size: 12px;
	letter-spacing: 1.8px;
}
.about__approach-row {
	display:flex;
	margin: 0 -135px;
	justify-content: center;

}
.about__apporoach-items {
	text-align: center;
	margin: 50px;
	width: 320px;

}
.about__apporoach-img {
	max-width: 100%;
}
.about__apporoach-title {
	padding-bottom: 25px;
	font-size: 24px;
}
.about__apporoach-description {
	font-size: 15px;
	color: #999999;
}

.about__separation {
	background: url('../img/about/Vector.png') no-repeat;
	background-size: 100% auto;
	max-width: 1440px;
	padding-top: 200px;
	margin: 0 -135px;
}